# Repo-level config
.env
.env.*
.env.local
.env.backup
.env.production

# Laravel app root
app/.env
app/.env.*
app/.env.local
app/.env.backup
app/.env.production
app/.phpactor.json
app/.phpunit.result.cache
app/.fleet
app/.idea
app/.nova
app/.phpunit.cache
app/.vscode
app/.zed
app/auth.json
app/bootstrap/cache/*
app/storage/*
!app/bootstrap/cache/.gitignore
!app/storage/app/public/.gitignore

# Frontend & Dependencies
app/node_modules/
app/vendor/
app/public/build/
app/public/hot/
app/public/storage

# Logs and OS junk
*.log
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj

# Database files
*.sqlite*
app/storage/*.key
app/storage/pail
